{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="card shadow">
        <div class="card-body">
            <div class="row">
                <div class="col-1 justify-content-center">
                    {% if group.banner %}
                        <img src="/media/{{ group.banner }}" class="card-img-top rounded-circle"
                             alt="Group banner for {{ group.name }}">
                    {% else %}
                        <img src="/media/group_banners/default.jpg" alt="Group Banner"
                             class="img-fluid rounded-circle">
                    {% endif %}
                </div>
                <div class="col-9 justify-content-center">
                    <h1>{{ group.name }}</h1>
                    <p>{{ group.description }}</p>
                </div>
                <div class="col-2 float-end">
                    <a class="btn btn-outline-dark" href="{% url "post_create" pk=group.id %}">Post</a>
                </div>
            </div>
        </div>
    </div>

    {% for post in posts %}
        {% include "posts/post_card.html" %}
    {% endfor %}


{% endblock %}
