<div class="card mt-2">
    <div class="card-body">
        <div class="row mt-2">
            <div class="row">

                {# Post Content Section #}
                <div class="col-lg-6 col-md-6">
                    <div class="row">
                        <div class="col-2">
                            <img class="img-thumbnail rounded-circle img-fluid" src="/media/{{ post.user.avatar }}">
                        </div>
                        <div class="col-10">
                            <h5 class="fw-bolder">@{{ post.user.username }}</h5>
                            <p>{{ post.user.bio }}</p>
                        </div>
                    </div>
                    {% if post.date_updated > post.date_created %}
                        <i class="text-secondary">Edited</i>: {{ post.date_updated|date:"F j, Y, g:i a" }}
                    {% else %}
                        {{ post.date_created|date:"F j, Y, g:i a" }}
                    {% endif %}
                    <hr>
                    <div class="mt-2">
                        <h4>{{ post.title }}</h4>
                        {% if post.body %}
                            <p>{{ post.body }}</p>
                        {% endif %}
                        {% if post.image %}
                            <img class="img-fluid" src="/media/{{ post.image }}">
                        {% endif %}
                        {% if post.file %}
                            {# Display if file extension is a video type, else show a download button #}
                            {% if post.file|slice:"-3:" in "mp4,mov,avi,wmv,flv,webm" %}
                                <video class="img-fluid" controls>
                                    <source src="/media/{{ post.file }}" type="video/mp4">
                                </video>
                            {% else %}
                                <a href="/media/{{ post.file }}" class="btn btn-primary btn-sm" download>Download</a>
                            {% endif %}
                        {% endif %}


                    </div>
                </div>

                {# Comment Content Section #}
                <div class="col-lg-6 col-md-6 overflow-scroll">
                    ...
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        {% include "widgets/post_like_unlike.html" %}
        {% include "widgets/post_delete_edit.html" %}
    </div>
</div>




