{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body>
<!-- Bootstrap JS -->
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
        integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
        crossorigin="anonymous"></script>

{% include "navigation/navbar.html" %}
<div class="container mt-2">
    {% block content %} {% endblock %}
</div>

<script>
    const links = document.querySelectorAll("#random-color-link");

    links.forEach(link => {
        link.addEventListener("mouseover", () => {
            // generate a random color
            const randomColor = Math.floor(Math.random() * 16777215).toString(16);
            // apply the color to the link text
            link.style.color = "#" + randomColor;
        });

        link.addEventListener("mouseout", () => {
            // reset the color to its default value
            link.style.color = "";
        });
    });
</script>
</body>
</html>
